body {
  background: white;
  background-size: cover;
  font-family: system-ui;
  color: black;
}
.wrapper {
  max-width: fit-content;
  margin: auto;
  /*BORDER CODE*/
  border-radius: 32px;
  box-shadow: 0px 0px 15px 15px #bdbdbd;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  /*BORDER CODE*/
}
.name {
  background: -webkit-linear-gradient(60deg, #ff0000, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5.5em;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 0px;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
.webdev {
  display: flex;
  margin-top: 11px;
  margin-bottom: 0px;
}
.webdev-h2 {
  margin-top: 105px;
  margin-left: 27px;
  margin-right: 25px;
}
.uiux {
  display: flex;
  margin-top: -30px;
}
.uiux-h2 {
  margin-top: 165px;
  margin-left: 10px;
}
.uofl {
  display: flex;
  margin-top: 15px;
}
.uofl-text {
  margin-top: 40px;
  margin-left: 27px;
  margin-right: 40px;
}
.uofl-h2 {
  margin-bottom: 0px;
}
.uofl-h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.uofl-h4 {
  margin-top: 10px;
}
.job {
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  margin-bottom: 75px;
}
.job-text {
  margin-top: 50px;
  margin-left: 47px;
}
.job-h2 {
  margin-bottom: 0px;
}
.job-h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.job-h4 {
  margin-top: 10px;
}
.links-wrapper {
  max-width: fit-content;
  margin: auto;
}
.links {
  margin-bottom: 0px;
}
