body {
  background: white;
  background-size: cover;
  font-family: system-ui;
  color: black;
}
.wrapper {
}
.name {
  background: -webkit-linear-gradient(60deg, #ff0000, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.webdev {
  display: flex;
}
.webdev-h2 {
}
.uiux {
  display: flex;
}
.uiux-h2 {
}
.uofl {
  display: flex;
}
.uofl-text {
}
.uofl-h2 {
}
.uofl-h3 {
}
.uofl-h4 {
}
.job {
  display: flex;
}
.job-text {
}
.job-h2 {
}
.job-h3 {
}
.job-h4 {
}
